  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <a class="p-4" href="{%url 'register' %}">
      <button type="button" class="btn btn-danger">Enroll Now</button>
    </a>
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components1-nav" data-bs-toggle="collapse" href="#">
          <i class="fas fa-university"></i><span>Home</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{%url 'aboutus' %}">
              <i class="bi bi-circle"></i><span>About us</span>
            </a>
          </li>
          <li>
            <a href="{%url 'contactus' %}">
              <i class="bi bi-circle"></i><span>Contact us</span>
            </a>
          </li>
        </ul>
      </li><!-- End Home Nav -->    

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components2-nav" data-bs-toggle="collapse" href="#">
          <i class="fas fa-university"></i><span>Courses</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components2-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{%url 'course_list' %}">
              <i class="bi bi-circle"></i><span>Courses_list</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bi bi-circle"></i><span>AI</span>
            </a>
          </li>
        </ul>
      </li><!-- End Home Nav -->  
    </ul>
  
  </aside>
  <!-- End Sidebar-->
